<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<style>
    table{
        margin: auto auto;
    }
</style>
<body>
    <table>
        <tr>
            <% values.forEach(e =>{ %>
            <form action="/login/menu/<%= UserId %>" method="post">
                <table border="1">
                        <tr>
                            <td>Nama Product</td>
                            <td>Price</td>
                        </tr>
                        <tr>
                            <td><%= e.name %></td>
                            <td><%= e.harga %></td>
                            <input type="hidden" name="id" value="<%= e.id %>" />
                            <input type="hidden" name="name" value="<%= e.name %>" />
                            <input type="hidden" name="harga" value="<%= e.harga %>" />
                            <td><input type="submit" name="submit" value="Add Item to Cart" /></td>
                        </tr>
                    </table>
                </form>
            <% }) %>
        </tr>
    </table>
    <a href="/login/menu/<%= UserId %>/checkout">CHECKOUT</a>
</body>
</html>